<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee">

    <filter>
        <filter-name>OfyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OfyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CustomFilter</filter-name>
        <filter-class>utility.CustomFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>controller.StudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/api/students/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/api/upload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewFile</servlet-name>
        <servlet-class>controller.ShowFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewFile</servlet-name>
        <url-pattern>/api/show-file/*</url-pattern>
    </servlet-mapping>

</web-app>